<h1>Editing Cake</h1>

<%= render "form", friend: @friend %>
<br />
<div>
  <%= link_to "Back to 🎂 cakes", friends_path, class:"btn btn-secondary" %> <br /><br />
  <%= link_to "Cancel editing 🎂", @friend, class:"btn btn-danger" %>  
</div>
<br />
